batch-update/src/main/mule/batch-update.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="87fd819d-72fa-47e0-97b5-e87a314456ea" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="40842dd6-d9df-4a15-98ec-38ea61062eb7" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="learndb" />
	</db:config>
	<flow name="batch-updateFlow" doc:id="c5018153-d06f-471f-a46c-5803695405a8" >
		<http:listener doc:name="Listener" doc:id="2e6a5417-a2db-40c2-a1ea-d0222431d92a" config-ref="HTTP_Listener_config" path="/batchupdate"/>
		<logger level="INFO" doc:name="Logger" doc:id="86fd569a-539d-4f25-85ae-b93ca4bc1f7c" message="#[payload]"/>
		<batch:job jobName="batch-updateBatch_Job" doc:id="2ab0c4ac-eacb-43a8-80ba-6b69a145548d" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="f0ecf484-f01e-4201-95c5-f16cf6dd8573" >
					<db:update doc:name="Update" doc:id="7215c52d-0191-4c38-b3f1-55c19abad7bf" config-ref="Database_Config">
						<db:sql ><![CDATA[update account_details set account_name = "geetha" where account_no = 1234]]></db:sql>
					</db:update>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="dac78add-ade9-4c06-8492-bc72a27113a5" streaming="true">
						<logger level="INFO" doc:name="Logger" doc:id="5bc09bd9-254c-4721-8f38-b5c29301a361" message="#[payload]"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="cd8c720f-13ff-42c3-861d-f35a7ea0aac2" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
		<ee:transform doc:name="Transform Message" doc:id="d6c6114d-0ab0-4066-8fc5-a3139ad87100" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
