errorhandler/src/main/mule/errorhandler.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f7db015f-f5a7-4914-9826-9541d9ff02e1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="70dc30c5-332f-4f1c-b2fd-d6fe21c720a3" >
		<http:request-connection host="api.github.com" />
	</http:request-config>
	<flow name="errorhandlerFlow" doc:id="3c08bdac-943b-4547-b4f7-d55909bdc16b" >
		<http:listener doc:name="Listener" doc:id="79992d5a-da97-40d8-ad36-9fc0431ff94d" config-ref="HTTP_Listener_config" path="/handler">
			<http:error-response >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="c48a6ba3-c562-4337-bcb5-6f1e632b4772" name="errorhandlerFlow"/>
		<set-payload value='#["error handler"]' doc:name="Set Payload" doc:id="4ce42215-93fe-478f-aa84-ab6cd74e9cfc" />
	</flow>
	<flow name="errorhandlerFlow1" doc:id="5c8491ad-5b7e-4c4f-ac43-565ab3d0c535" >
		<http:request method="GET" doc:name="Request" doc:id="36700d75-3fce-4310-922c-1866ccb166b9" config-ref="HTTP_Request_configuration" path="/user"/>
		<set-payload value='#["Hello mouritech"]' doc:name="Set Payload" doc:id="16a8f848-105f-4af1-9d40-fdd1ae3d85b2" />
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="54807695-4b32-4c1f-9f64-a4d5583d0144" type="HTTP:CONNECTIVITY">
				<set-payload value='#["hello world"]' doc:name="Set Payload" doc:id="6d369b49-9c17-46c0-8d70-fce62aea8e9c" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
