select/src/main/mule/select.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a50611e5-d551-4154-935e-0fb377c278a0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="98223ebf-97d3-4600-8670-ea996e9e93bd" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="learndb"/>
	</db:config>
	<flow name="selectFlow" doc:id="4a236e50-dd56-4f02-b76b-ada2a5b3799d" >
		<http:listener doc:name="Listener" doc:id="5a1a50bb-27fb-40a7-84f1-47f3f481e1ed" config-ref="HTTP_Listener_config" path="/select"/>
		<db:select doc:name="Select" doc:id="398c78a7-f120-4c84-b39b-b5809b3bcd82" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM learndb.customer_details;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	name:attributes.queryParams.name
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="b4a89dc7-5dae-4a11-a519-94c31a43d83f" >
			<when expression="#[isEmpty(payload)]">
				<ee:transform doc:name="Transform Message" doc:id="0022a4db-04f1-4d15-9488-812b4e25339a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "record  found"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="98c21960-0673-4d02-8867-608c5854c442" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="89f3b34a-59c4-4c79-9897-3cf082a236b2" message="payload"/>
	</flow>
</mule>
