consumesoap/src/main/mule/consumesoap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7a874dbb-d957-4df1-b880-37b5448c1ebe" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="1344ede3-9dd5-4482-99fa-883e2e6cf83b" >
		<wsc:connection wsdlLocation="https://www.learnwebservices.com/services/hello?WSDL" service="HelloEndpointService" port="HelloEndpointPort" address="https://www.learnwebservices.com/services/hello" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="consumesoapFlow" doc:id="0c2e5f5d-331c-486c-a492-b0ad1e9a4da2" >
		<http:listener doc:name="Listener" doc:id="77b0f294-e235-4fe0-9c3e-d8ff0066d88b" config-ref="HTTP_Listener_config" path="soap"/>
		<ee:transform doc:name="Transform Message" doc:id="cf905bef-9585-473e-9559-9a696bb5860c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://learnwebservices.com/services/hello
---
{
	ns0#SayHello: {
		ns0#HelloRequest: {
			ns0#Name: payload
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="SayHello" doc:name="Consume" doc:id="da1fb696-e0d5-45f2-9221-4684d5a65116" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="41cc1bd8-e504-4214-af37-289634938e39" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://learnwebservices.com/services/hello

output application/xml
---
{
	"message":payload.body.ns0#SayHelloResponse.ns0#HelloResponse.ns0#Message
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
